<div class="d-flex border border-light">


       

    <div class="dashbord p-3 w-100">
            
            
        <div class="row">
            
                    <div class="col-lg-8">
                        <div class="container ms-2 me-2">
                            <div class="row">
                                <div class="box col-lg-2 p-2 me-4 mb-2   shadow-lg border rounded  " >
                                    
                                    <h1 class="m-4 fw-bold text-center "><i class="fa-solid fa-file me-2"></i> 2478</h1>
                                    
                        
                        
                                </div>
                                <div class="box col-lg-2 p-2 me-4 mb-2   shadow-lg border rounded  " >
                                    
                                    <h1 class="m-4 fw-bold text-center "><i class="fa-solid fa-file me-2"></i> 2478</h1>
                                    
                        
                        
                                </div>
                                <div class="box col-lg-2 p-2 mb-2 me-4 shadow-lg border rounded  " >
                                    
                                    <h1 class="m-4 fw-bold text-center "><i class="fa-solid fa-file me-2"></i> 9834</h1>
                                   
                        
                        
                                </div>
                                <div class="box col-lg-2 p-2 mb-2 me-4 shadow-lg border rounded  " >
                                    
                                    <h1 class="m-4 fw-bold text-center "><i class="fa-solid fa-file me-2"></i> 9834</h1>
                                   
                        
                        
                                </div>
                                <div class=" box col-lg-2 p-2  mb-2   shadow-lg border rounded  " >
                                    
                                    <h1 class="m-4 fw-bold text-center "><i class="fa-solid fa-file me-2"></i> 1256</h1>
                                    
                        
                        
                                </div>
                
                            </div>
                        </div>
              
                
                <div class="container ms-2">
                    <div class="row ">
                        <div class="col-lg-6 border rounded mt-3 pt-4  text-center pe-5 me-4 ps-" style="height: 450px; width:400px;">
                              <app-calender></app-calender>
                        </div>
                        <div class="col-lg-6 border rounded mt-3 text-center me-2ms-3 p-4" style="height: 450px; width: 540px;">
                            <app-barchart></app-barchart>
                        </div>
    
                    </div>
                </div>
            
                <div class=" border rounded mt-5 mb-5 ms-2 " style="height: 450px; text-align: center;">
                    <app-graph></app-graph>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="container me-5">
                    <div class="table border rounded me-2 mt-1 " style="height: 100%; ">
                        <!-- input box  -->
                            
                           <div class="row d-flex text-light text-center mt-4 mb-4">
                               <div class="col fw-bold">ID</div> 
                               <div class="col fw-bold">NAME</div>
                               <div class="col fw-bold">STATUS</div>
                           </div>
    
                           <hr class="text-light">
                           <div class="row d-flex text-light text-center mt-4 mb-4">
                            <div class="col fw-bold">1</div> 
                            <div class="col fw-bold">Ash Monk</div>
                            <div class="col fw-bold">Offline</div>
                        </div>
    
                        <hr class="text-light">
                        <div class="row d-flex text-light text-center mt-4 mb-4">
                            <div class="col fw-bold">2</div> 
                            <div class="col fw-bold">Danica Johnson</div>
                            <div class="col fw-bold">Away</div>
                        </div>
    
                        <hr class="text-light">
                        <div class="row d-flex text-light text-center mt-4 mb-4">
                            <div class="col fw-bold">3</div> 
                            <div class="col fw-bold">Frank Massey</div>
                            <div class="col fw-bold">Online</div>
                        </div>
    
                        <hr class="text-light">
                        <div class="row d-flex text-light text-center mt-4 mb-4">
                            <div class="col fw-bold">4</div> 
                            <div class="col fw-bold">Julia Smith</div>
                            <div class="col fw-bold">Online</div>
                        </div>
    
                        <hr class="text-light">
                        <div class="row d-flex text-light text-center mt-4 mb-4">
                            <div class="col fw-bold">5</div> 
                            <div class="col fw-bold">Peter Mitchell</div>
                            <div class="col fw-bold">Offline</div>
                        </div>
    
                        <hr class="text-light">
                        <div class="row d-flex text-light text-center mt-4 mb-4">
                            <div class="col fw-bold">6</div> 
                            <div class="col fw-bold">Oliva Houghton</div>
                            <div class="col fw-bold">Offline</div>
                        </div>
    
                        <hr class="text-light">
                        <div class="row d-flex text-light text-center mt-4 mb-4 ">
                            <div class="col fw-bold">7</div> 
                            <div class="col fw-bold">Robyn Mers</div>
                            <div class="col fw-bold">Away</div>
                            
                        </div>
                        
    
                    </div>
                    <div class="msg border rounded mt-5 mb-5 me-2 ms-1 p-4 " style="height: 445px;">
                        <h1 class="text-light text-center fw-bold pt-4 pb-3">Send Message</h1>
                        <form class="example-form">
                            <mat-form-field class="example-full-width">
                              <mat-label>Enter e-mail Id</mat-label>
                              <input matInput placeholder="Ex. Pizza" value="">
                            </mat-form-field>
                          
                            <mat-form-field class="example-full-width">
                              <mat-label>Leave a comment</mat-label>
                              <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                            </mat-form-field>
                            
                          </form>
                          <div>
                            <button mat-raised-button class="btn p-4 w-100">SUBMIT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

    </div>

</div>


